<div class="container-fluid bg-dark" id="navigacija">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="m-2 px-2 active" href="/">Home</a>
                        <a class="m-2 px-2" href="/player">Players</a>
                        <a class="m-2 px-2" href="/games">Games</a>
                        <a class="m-2 px-2" href="/leaderboard">Leaderboard</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>