<div class="container-fluid bg-dark" id="navigacija">
  <div class="row">
      <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-dark bg-dark">
              <button class="navbar-toggler" 
                  type="button" 
                  data-bs-toggle="collapse" 
                  data-bs-target="#navbarSupportedContent" 
                  aria-controls="navbarSupportedContent" 
                  aria-expanded="false" 
                  aria-label="Toggle navigation">

                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="navbar-nav">
                      <a class="px-2 active" href="/">Home</a>
                      <a class="px-2" href="/player">Players</a>
                      <a class="px-2" href="/games">Games</a>
                      <a class="px-2" href="/leaderboard">Leaderboard</a>
                  </div>
              </div>
          </nav>
      </div>
  </div>

