<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" /> 
    <!-- <script src='main.js'></script> -->
    
</head>
<body>
  <div class="container-fluid img-wrap1">
    <div class="container-fluid bg-dark" id="navigacija">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="m-2 px-2 active" href="/">Home</a>
                <a class="m-2 px-2" href="/player">Players</a>
                <a class="m-2 px-2" href="/games">Games</a>
                <a class="m-2 px-2" href="/leaderboard">Leaderboard</a>
              </div>
            </div>
          </nav>
        </div>
      </div>  
    </div>
  
    
    <header>  
      <div class="container mt-4" id="naslov">
        <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <h1 class="text-center">The Settlers of Catan Stat Tracker</h1>
          </div>
        </div>
      </div>  
    </header> 
  </div>
</body>
</html>