<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/styles/style.css" />
		<!-- <script src='main.js'></script> -->
	</head>
	<body>
		<div class="container-fluid img-wrap1">
			<%- include('partials/header_home'); %>
			</div>

			<header>
				<div class="container mt-4" id="naslov">
					<div class="row">
						<div
							class="col-12 d-flex justify-content-center align-items-center"
						>
							<h1 class="text-center">The Settlers of Catan Stat Tracker</h1>
						</div>
					</div>
				</div>
			</header>
		</div>
	</body>
</html>
