<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/styles/style.css" />
		<!-- <script src="main.js"></script> -->
	</head>
	<body>
		<div class="container-fluid img-wrap2">
			<%- include('partials/header'); %>

			<div class="container">
				<div class="row justify-content-center align-items-center mt-5">
					<div class="col-6 py-3 bg-dark playerForm">
						<form method="post">
							<div class="form-group m-2">
								<label for="name"> Player name: </label>
								<input type="text" class="form-control" name="name" id="name" />
							</div>

							<div class="form-group m-2">
								<label for="color"> Primary color: </label>
								<input
									type="text"
									class="form-control"
									name="color"
									id="color"
								/>
							</div>

							<div>
								<input
									type="submit"
									class="m-2 btn btn-primary"
									value="Add Player"
									formaction="/player/add"
								/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
